
div#logModal.modal.blue-grey.darken-3.bottom-sheet.modal-fixed-footer
    div.modal-content
        h4 log History
        p If your browser is slowing down, try clearing the log History.
        table#logTable.highlight
            tr
                th log
                th time
    div.modal-footer.blue-grey.darken-2
        a(href="#!").modal-close.waves-effect.waves-green.btn-flat.white-text OK
        a(onclick="ClearLogsDB()").modal-close.waves-effect.waves-green.btn-flat.white-text.left Clear Logs
                i.fas.fa-history
script(type="text/javascript" src="js/controllers/modals/log.js")