
div#txModal.modal.blue-grey.darken-3.bottom-sheet.modal-fixed-footer
    div.modal-content
        h4 tx History
        table#txTable.highlight
            tr
                th txid
                th Sender
                th Function
                th Time
    div.modal-footer.blue-grey.darken-2
        a(href="#!").modal-close.waves-effect.waves-green.btn-flat.white-text OK
        input#txManualAdd(placeholder="Manually add a TX").waves-effect.waves-green.white-text.left
        a(onclick="ManualAddTx()").waves-effect.waves-green.btn-flat.white-text.left Add
        a(href="/txid").waves-effect.waves-green.btn-flat.white-text.left See more txid data
script(type="text/javascript" src="js/controllers/modals/tx.js")