div.input-field
    input#address.validate(type="text")
    label(for="address") Attendee Address
    a.secondary-content.waves-effect.waves-light.inline-input-button.modal-trigger(href="#camModal" onclick="SetCalleeId('address')")
        i.fas.fa-qrcode
div.input-field
    input#personalId.validate(type="text")
    label(for="personalId") Personal ID
a.waves-effect.waves-light.btn(onclick="OnGetAttendeeTickets()") Check your tickets
h4 Your Tickets
br
div#attendeeTickets.collection
    p.collection-item.grey.darken-4 (Ticket ID) => Ticket details
br

script(src="js/controllers/includes/attendeeTickets.js")
        