div
    h5 Events
    p You can search the list of all active events
    a.waves-effect.waves-light.btn(onclick="OnGetAllEvents()") Search All Active Events
table#eventSearch.highlight
    tr
        th Event Id
        th Title
        th Description
        th Location
        th Date
script(src="js/controllers/includes/eventSearch.js")