div.fixed-action-btn
    a#txidFloating.btn-floating.btn-large.indigo
        i.fas.fa-info(style="font-size:25px; vertical-align:middle;")
    ul
        li
            a.btn-floating.orange.modal-trigger(href="#logModal" onclick="PopulateLogFloat()")
                i.fas.fa-exclamation-triangle
        //- li
        //-     a.btn-floating.green.modal-trigger(href="#walletModal" onclick="PopulateWalletFloat()")
        //-         i.fas.fa-wallet
        li
            a.btn-floating.blue.modal-trigger(href="#txModal" onclick="PopulateTxFloat()")
                i.fas.fa-history
include ../modals/log
include ../modals/wallet
include ../modals/tx