div.fixed-action-btn
    a#txidFloating.btn-floating.btn-large.indigo
        i.fas.fa-info(style="font-size:25px; vertical-align:middle;")
    ul
        li
            a.btn-floating.orange.modal-trigger(href="#logModal" onclick="PopulateLogFloat()")
                i.fas.fa-exclamation-triangle
        li
            a.btn-floating.green.modal-trigger(href="#walletModal" onclick="PopulateWalletFloat()")
                i.fas.fa-wallet
        li
            a.btn-floating.blue.modal-trigger(href="#txModal" onclick="PopulateTxFloat()")
                i.fas.fa-history
div#logModal.modal.blue-grey.darken-3.bottom-sheet.modal-fixed-footer
    div.modal-content
        h4 log History
        p If your browser is slowing down, try clearing the log History.
        table#logTable.highlight
            tr
                th log
                th time
    div.modal-footer.blue-grey.darken-2
        a(href="#!").modal-close.waves-effect.waves-green.btn-flat.white-text OK
        a(onclick="ClearLogsDB()").modal-close.waves-effect.waves-green.btn-flat.white-text.left Clear Logs
                i.fas.fa-history
div#walletModal.modal.blue-grey.darken-3.bottom-sheet.modal-fixed-footer
    div.modal-content
        h4 Your Wallet
        div.row
            div.col.s12.m6
                ul.collection
                    li.collection-item.white-text.blue-grey.darken-3 Name
                    li.collection-item.white-text.blue-grey.darken-3 Balance
                    li.collection-item.white-text.blue-grey.darken-3 Address
                    li.collection-item.white-text.blue-grey.darken-3 Seed
                a.waves-effect.waves-light.btn(onclick="OnLogout()") Logout
            div.col.s12.m6
                div.input-field
                    input#walletName.validate(type="text")
                    label(for="walletName") Name
                div.input-field
                    input#walletSeed.validate(type="text")
                    label(for="walletSeed") Seed
                a.waves-effect.waves-light.btn(onclick="OnLogin()") Login New Wallet
    div.modal-footer.blue-grey.darken-2
        a(href="https://wavesexplorer.com/testnet/faucet" target="blanc").waves-effect.waves-green.btn-flat.white-text Faucet
        a(href="#!").modal-close.waves-effect.waves-green.btn-flat.white-text OK
div#txModal.modal.blue-grey.darken-3.bottom-sheet.modal-fixed-footer
    div.modal-content
        h4 tx History
        span#testnetWalletSeed
        br
        span#testnetWalletAddress
        table#txTable.highlight
            tr
                th txid
                th Sender
                th Function
                th Time
    div.modal-footer.blue-grey.darken-2
        a(href="#!").modal-close.waves-effect.waves-green.btn-flat.white-text OK
        input#txManualAdd(placeholder="Manually add a TX").waves-effect.waves-green.white-text.left
        a(onclick="ManualAddTx()").waves-effect.waves-green.btn-flat.white-text.left Add
        a(href="/txid").waves-effect.waves-green.btn-flat.white-text.left See more txid data
script(src="js/controllers/includes/float.js")