footer.page-footer.blue-grey.darken-3
    div.container
        div.row
            div.col.l6.s12
                h5.white-text That's all!
                p This is still a proof of concept. In so, it might be incomplete or even broken.
                p The current smart contract is made in WAVES. It is deployed in the WAVES testnet. You can <a class="inlinelink" href="./contracts/dapp-v3.ride">download the contract here</a>, or check it out <a class="inlinelink" href="https://wavesexplorer.com/testnet/address/3N1RM5X2PdS1vH3vmzRrdzQDjAUjMqk2RbJ/tx">3N1RM5X2PdS1vH3vmzRrdzQDjAUjMqk2RbJ in Waves Explorer</a>.
                p Comments and suggestions are very welcome! My name is Ian and you can find me at <a class="inlinelink" href="mailto:mihura.ian@gmail.com">mihura.ian@gmail.com<a> or any of the links on the right.
                p This app is made with <a class="inlinelink" href="https://expressjs.com/">ExpressJs</a>, <a class="inlinelink" href="https://materializecss.com/">Materialize</a>, hosted with <a class="inlinelink" href="https://www.heroku.com/">Heroku</a>,
            div.col.l4.offset-l2.s12
                h5.white-text Links
                ul
                    li
                        a.grey-text.text-lighten-3(href="https://twitter.com/ianmihura") Twitter
                    li
                        a.grey-text.text-lighten-3(href="https://instagram.com/ianmihura") Instagram
                    li
                        a.grey-text.text-lighten-3(href="mailto:mihura.ian@gmail.com") Email
                h5.white-text Other helpful links
                ul
                    li
                        a.grey-text.text-lighten-3(href="https://wavesplatform.com/") Waves Official Page
                    li
                        a.grey-text.text-lighten-3(href="https://wavesexplorer.com/") Waves Block Explorer
                    li
                        a.grey-text.text-lighten-3(href="https://docs.wavesplatform.com/en/") Waves Documentation
                    li
                        a.grey-text.text-lighten-3(href="https://wavesplatform.com/technology/keeper") Waves.Keeper
    div.footer-copyright
        div.container © 2020 SmartTickets.