nav
    div.nav-wrapper.blue-grey.darken-1
        a.brand-logo.center(href="/") SmartTickets.
        a.sidenav-trigger(href="#" data-target="mobile-demo") 
            i.fas.fa-bars
        ul#nav-mobile.left.hide-on-med-and-down
            li 
                a(href="/create") Create Event
            li 
                a(href="/edit") Edit Event
            li 
                a(href="/checkin") Checkin
        ul#nav-mobile.right.hide-on-med-and-down
            li 
                a(href="/buy") Buy Tickets
            li 
                a(href="/tickets") My Tickets

ul#mobile-demo.sidenav
    li
        a.subheader Producer section
    li 
        a(href="/create") Create Event
    li 
        a(href="/edit") Edit Event
    li 
        a(href="/checkin") Checkin
    li 
        div.divider
    li
        a.subheader Attendee section
    li
        a(href="/buy") Buy Tickets
    li 
        a(href="/tickets") My Tickets