div.card.blue-grey.darken-4
    div.card-content.grey-text
        h5 Test env
        p We can create a testnet wallet for you.
        p The wallet info will be available within the <a class="modal-trigger inlinelink" href="#logModal">tx History</a> panel (bottom right button)
        br
        p Faucet link gives you free testnet tokens
    div.card-action.blue-grey.darken-4
        a.modal-trigger(href="#walletModal" onclick="OnOpenWallet()") Create wallet
        a(href="https://wavesexplorer.com/testnet/faucet" target="blanc") Faucet