extends ../layout

block layout-content
    div.row
        div.col.s12.m6
            video#video(width="300" height="200" style="border: 1px solid gray")
            a#startButton.waves-effect.waves-light.btn(onclick="OnScan()") Start
            a#resetButton.waves-effect.waves-light.btn(onclick="OnScan()") Reset
        div.col.s12.m6
            div#sourceSelect.collection
            label
                input#decodeOnce(type="checkbox")
                span Decode Once
            h5 Result:
            pre
                code#result

    script(src="https://unpkg.com/@zxing/library@latest" type="text/javascript")
    script(type="text/javascript" src="js/controllers/includes/webcam.js")
    
    
    