extends ../layout

block layout-content
    div.row
        div.col.s12.m6
            video#video(width= "300" height= "200")
            br
            a#startButton.waves-effect.waves-light.btn Scan
            a#resetButton.waves-effect.waves-light.btn Ok
        div.col.s12.m6
            p Choose a camera
            div#sourceSelect.collection
            label
                input#decodeMultiple(type="checkbox")
                span Decode Continuously
            pre
                code#result
            a.waves-effect.waves-light.btn(onclick="OnCopy('result')") Copy Result

    script(src="https://unpkg.com/@zxing/library@latest" type="text/javascript")
    script(type="text/javascript" src="js/controllers/includes/webcam.js")
    
    
    