extends ../layout

block layout-content
    a#startButton.waves-effect.waves-light.btn(onclick="OnScan()") Start
    a#resetButton.waves-effect.waves-light.btn(onclick="OnScan()") Reset
    video#video(width="300" height="200" style="border: 1px solid gray")
    div#sourceSelect
        label(for="sourceSelect") Change video source
        select#sourceSelect(style="max-width:400px")
        
    label
        input#decodeOnce(type="checkbox")
        span Decode Once

    script(src="https://unpkg.com/@zxing/library@latest" type="text/javascript")
    script(type="text/javascript" src="js/controllers/includes/webcam.js")
    
    p Result:
    pre
        code#result
    
    
    