extends layout

block layout-content
    div.row
        div.col.6s
            div.input-field
                input#ticketId.validate(type="number")
                label(for="ticketId") Ticket ID
            div.input-field
                input#amount.validate(type="number")
                label(for="amount") Amount of Tickets
            div.input-field
                input#personalId.validate(type="text")
                label(for="personalId") Personal ID*
            span#price(placeholder="Price")
            a.waves-effect.waves-light.btn(onclick="OnBuyTicket()") Buy
            h5#result 
        div.col.6s
            include includes/event.pug
            p You can check and refund your tickets in "My Tickets" page
            p *Please bring your personal ID to the event if so required
    div.row
        div.col.6s
            a.waves-effect.waves-light.btn(onclick="OnBuyTicket()") Search All Active Events
            h5 Events
            p You can search the list of all active events
        div.col.6s
    script(src="js/controllers/ui/buy.js")
            