extends layout

block layout-content
    h1.center-align Buy Tickets
    div.row
        div.col.12s
            include includes/eventData.pug
            p You can check and refund your tickets in "My Tickets" page
            p *Please bring your personal ID to the event if so required
        div.col.12s
            div.input-field
                input#ticketId.validate(type="number")
                label(for="ticketId") Ticket ID
            div.input-field
                input#amount.validate(type="number")
                label(for="amount") Amount of Tickets
            div.input-field
                input#personalId.validate(type="text")
                label(for="personalId") Personal ID*
            p.grey-text *only if required
            br
            br
            a.waves-effect.waves-light.btn(onclick="OnBuyTicket()") Buy
            br
        div.col.s12
            h1.center-align Search Events
            p You can search the list of all active events
            a.waves-effect.waves-light.btn(onclick="OnGetAllEvents()") Search All Active Events
            table#eventSearch.highlight.responsive-table.clickable
                tr
                    th Event Id
                    th Title
                    th Description
                    th Location
                    th Date
    div#purchaseConfirm.modal.blue-grey.darken-3
        div.modal-content
            h4 Confirm Purchase
            table#purchaseTable.highlight.responsive-table
                tr
                    th Event ID
                    th Ticket
                    th Amount
                    th Total Price
        div.modal-footer.blue-grey.darken-2
            a(onclick="OnConfirmPurchase()" href="#!").modal-close.waves-effect.waves-green.btn-flat.white-text OK
            a(href="#!").modal-close.waves-effect.waves-green.btn-flat.white-text.left Cancel

    script(src="js/controllers/includes/eventSearch.js")
    script(src="js/controllers/ui/buy.js")     