extends layout

block layout-content
    div.row
        div.col.s6
            include includes/attendeeTickets.pug
        div.col.s6
            div.input-field
                input#ticketId.validate(type="text")
                label(for="ticketId") Ticket ID
            div.input-field
                input#ticketsToCheckin.validate(type="text")
                label(for="ticketsToCheckin") Tickets to checkin
            br
            a.waves-effect.waves-light.btn(onclick="OnCheckin()") Checkin
            h5#checkinResult
            p You can only checkin one ticketId at a time
            p If there is an event selected below, it will only show the tickets for that event
    hr
    div.row
        div.col.s6
            include includes/eventData.pug
        div.col.s6
            p You can login with the wallet used to create the event and the event id
            p We will store the seed locally in the app for as long as the checkin process lasts
            p This may be risky, but will make the checkin process faster
            p You can end the checkin process with the following button
            a.waves-effect.waves-light.btn.modal-trigger(href="#walletModal") Login
            a.waves-effect.waves-light.btn(onclick="OnCheckinLogout()") Logout
    script(src="js/controllers/ui/checkin.js")