extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner SmartTickets.
        div.Message
            div.Title
                h1 Smart Events.
            span.Details Manage your event ticketing with Blockchain technology. <br> Free setup, no hidden fees for your customers, decentralized registry.
        div.NewEventForm
            textarea#nameOfEvent(placeholder="Name of Event")
            div.Button.ShowFullForm(onclick="showFullForm()") Create your Event!
        div.FullEventForm.Hide
            textarea#description(placeholder="Description")
            input#date(type="datetime-local")
            textarea#location(placeholder="Location")
            textarea#price(placeholder="Price")
            textarea#amount(placeholder="Amount of Tickets")
            input#requiresId(type="checkbox")
            label(for="requiresId") Requires Id
            <br>
            Button.Button.SubmitForm.Hide(onclick="OnCreateEvent()") Submit
            <br>
            span#newEvent
            // Input.Button.SubmitForm.Hide(onclick="SubmitForm()") Submit
            