extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner SmartTickets.
        div.Message
            div.Title
                h1 Smart Events.
            span.Details Manage your event ticketing with Blockchain technology. <br> Free setup, no hidden fees for your customers, decentralized registry.
        div
            div.input-field
                input#eventId.validate(type="text")
                label(for="eventId") Event Id
            br
            a.waves-effect.waves-light.btn(onclick="OnGetEventDataEdit()") Fetch your event data
            span#eventDetails
            br
            span#ticketsLeft
            br
            span#canceled
            br
            span#finished
            br
            div.input-field
                input#newAmound.validate(type="text")
                label(for="newAmound") New Amount of tickets
            br
            a.waves-effect.waves-light.btn(onclick="OnEditAvailableTickets()") Adjust Amount of Tickets
            a.waves-effect.waves-light.btn(onclick="OnCancelEvent()") Cancel Event
            a.waves-effect.waves-light.btn(onclick="OnWithdrawFunds()") Withdraw funds
            // Input.Button.SubmitForm.Hide(onclick="SubmitForm()") Submit
            