extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner SmartTickets.
        div.row
            div.col.s6
                div.input-field
                    input#ticketId.validate(type="text")
                    label(for="ticketId") Ticket ID
                div.input-field
                    input#newAmount.validate(type="text")
                    label(for="newAmount") New Amount of tickets
                br
                a.waves-effect.waves-light.btn(onclick="OnEditAvailableTickets()") Adjust Amount of Tickets
                // Input.Button.SubmitForm.Hide(onclick="SubmitForm()") Submit
            div.col.s6
                div.input-field
                    input#eventId.validate(type="text")
                    label(for="eventId") Event Id
                a.waves-effect.waves-light.btn(onclick="OnGetEventData()") Fetch your event data
                h4 Your Event
                br
                span#eventDetails
                ul#tickets.collection
                br
                h5#canceled
                br
                p You can edit the availability of any ticket
                p You can cancel the event - you will not be able to withdraw the funds
                p You can withdraw the funds only after the event finished
                p To create new tickets go to the create page
                br
                a.waves-effect.waves-light.btn(onclick="OnCancelEvent()") Cancel Event
                br
                a.waves-effect.waves-light.btn(onclick="OnWithdrawFunds()") Withdraw funds