extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner SmartTickets.
        div.Message
            div.Title
                h1 Smart Events.
            span.Details Manage your event ticketing with Blockchain technology. <br> Free setup, no hidden fees for your customers, decentralized registry.
        div.NewEventForm
            textarea#eventId(placeholder="Event Id")
            <br>
            Button.ShowFullForm(onclick="OnGetEventDataEdit()") Fetch your event data
        div.FullEventForm.Hide
            span#eventDetails
            <br>
            span#ticketsLeft
            <br>
            span#canceled
            <br>
            span#finished
            <br>
            Button.Button.SubmitForm.Hide(onclick="OnCancelEvent()") Cancel Event
            <br>
            Button.Button.SubmitForm.Hide(onclick="OnWithdrawFunds()") Withdraw funds
            // Input.Button.SubmitForm.Hide(onclick="SubmitForm()") Submit
            