extends layout

block layout-content
    div.Message
        div.Title
            h1 Smart Events.
        span.Details Manage your event ticketing with Blockchain technology. <br> Free setup, no hidden fees for your customers, decentralized registry.
    div
        br
        span Producer section:
        br
        a(href="/create") Create Event
        br
        a(href="/edit") Edit Event
        br
        a(href="/checkin") Checkin
        br
        br
        span Attendee section:
        br
        a(href="/buy") Buy Tickets
        br
        a(href="/refund") Refund
            