extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner SmartTickets.
        div.Message
            div.Title
                h1 Smart Events.
            span.Details Manage your event ticketing with Blockchain technology. <br> Free setup, no hidden fees for your customers, decentralized registry.
        div
            div.input-field
                input#eventId.validate(type="text")
                label(for="eventId") Event Id
            div.input-field
                input#amount.validate(type="text")
                label(for="amount") Amount of Tickets
            div.input-field
                input#personalId.validate(type="text")
                label(for="personalId") Personal ID
            a.waves-effect.waves-light.btn(onclick="OnRefund()") Refund Tickets
            br
            span#result
            // Input.Button.SubmitForm.Hide(onclick="SubmitForm()") Submit
            