extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner SmartTickets.
        div.Message
            div.Title
                h1 Smart Events.
            span.Details Manage your event ticketing with Blockchain technology. <br> Free setup, no hidden fees for your customers, decentralized registry.
        div.NewEventForm
            textarea#eventId(placeholder="Event Id")
            textarea#amount(placeholder="Amount of Tickets")
            textarea#personalId(placeholder="Personal ID (only if required at purchase)")
            Button.Button.SubmitForm.Hide(onclick="OnRefund()") Refund Tickets
            <br>
            span#result
            // Input.Button.SubmitForm.Hide(onclick="SubmitForm()") Submit
            