extends layout

block layout-content
    h1.center-align Your Tickets
    div.row
        div.col.s12.m6
            include includes/attendeeTickets.pug
        div.col.s12.m6
            h4.center-align Checkin Pass
            p Generate your Checkin Pass to check in
            div.input-field
                input#checkinTicket.validate(type="number")
                label(for="checkinTicket") Ticket ID to Checkin
            div.input-field
                input#checkinAmount.validate(type="number")
                label(for="checkinAmount") Amount
            a.waves-effect.waves-light.btn(onclick="OnCreateCheckinPass()") Get Checkin Pass

    hr
    div.row
        div.col.s12.m6
            br
            p Please fill in the form below if you wish to refund
            p Tickets of past events are non-refundable
            div.input-field
                input#ticketId.validate(type="number")
                label(for="ticketId") Ticket ID to refund
            div.input-field
                input#amount.validate(type="number")
                label(for="amount") Amount of tickets to refund
            a.waves-effect.waves-light.btn(onclick="OnRefund()") Refund
        div.col.s12.m6
            include includes/eventData.pug
    script(src="js/controllers/ui/tickets.js")