extends layout

block layout-content
    div.input-field
        input#txidInput.validate(type="text")
        label(for="txidInput") txid
    a.waves-effect.waves-light.btn(onclick="OnGetTxidData()") Fetch txid data
    h5 tx Information
    p You can always find all the information of your transaction in 
        a(href="https://wavesexplorer.com").inlinelink Waves Explorer
    table#txidTable.highlight
        tr
            th State Change / Asset Transfer
            th Key / Address
            th Value / Amount
    script(src="js/controllers/ui/txid.js")