extends layout

block layout-content
    div.row
        div.col.s6
            div.input-field
                input#txidInput.validate(type="text")
                label(for="txidInput") txid
                a.secondary-content.waves-effect.waves-light.inline-input-button.modal-trigger(href="#camModal" onclick="SetCalleeId('txidInput')")
                    i.fas.fa-qrcode
            a.waves-effect.waves-light.btn(onclick="OnGetTxidData()") Fetch txid data
            h5 tx Information
            p You can always find all the information of your transaction in 
                a(href="https://wavesexplorer.com").inlinelink Waves Explorer
        div.col.s6
            ul#txidCollection.collection.highlight
    table#txidTable.highlight.responsive-table
        tr
            th State Change / Asset Transfer
            th Key / Address
            th Value / Amount
    script(src="js/controllers/ui/txid.js")