:root {
  --primary: #ffffff;
  --bg-color: #121212;
  --bg-color-secondary: #333333;
  --highlight: #ff5252;
  --highlight-hover: #ff3a3a;

  --ui-shawdow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shawdow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
  box-sizing: border-box;
}

body {
  color: var(--primary);
  
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgb(207, 207, 207);
}

h1,
h2,
h3 {
  font-family: var(--header-font);
  
  padding: 0;

  color: var(--primary);
}

h1 {
  font-size: 40px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  color: var(--primary);
}

.View {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 100%;
  width: 100%;

  padding: 20px;

  background-size: cover;
  background: var(--bg-color);

  font-family: var(--core-font);
}

.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  border-radius: 5px;

  overflow: hidden;
  background: var(--bg-color-secondary);
  padding: 15px;

  font-family: var(--logo-font);

  border-bottom: var(--ui-shawdow-border);
  box-shadow: var(--ui-shawdow);
}

.Message {
  color: var(--primary);

  background: var(--bg-color-secondary);
  padding: 30px;
  border-bottom: var(--ui-shawdow-border);
  box-shadow: var(--ui-shawdow);
}

.Message > .Title {
  padding-bottom: 20px;
}

.Message > .Details {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

input {
  color: var(--primary);
}

hr {
    height: 1px;
    width: 50%;
}

input[type=text]:not(.browser-default):disabled {
  color: rgba(255,255,255, 0.4);
}

input[type=text]:not(.browser-default):disabled+label {
  color: rgba(255,255,255, 0.4);
}

nav {
    background-color: rgba(255,255,255, 0.4);
}

.sidenav {
    background-color: rgba(100,100,100, 0.8);
}

.sidenav li>a {
    color: var(--primary);
}